html {
  line-height: 1.5;
  background-color: #c9b5ab;
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
}

header {
  font-weight: bold;
}

main {
  font-family: "PT Serif", serif;
}

h1, h2 {
  color: #3f1622;
  font-size: 1.5rem;
  font-family: "PT Sans", sans-serif;
}

h2 + ol {
  list-style-type: lower-greek;
}

img {
  width: 100%;
}

nav li {
  list-style-type: none;
}

a {
  color: #8f2440;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}

nav {
  font-weight: bold;
}

figcaption {
  text-align: center;
  font-style: italic;
}

blockquote {
  text-align: center;
  font-style: italic;
  font-size: 1.5rem;
}

blockquote cite {
  font-size: .8rem;
}

.beettime {
  font-size: 1.125rem;
  font-weight: bold;
}

dl dt {
  font-weight: bold;
}
